*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    padding: 0;
    margin: 0;
    background-color: #181A1B;
    height: 3200px;
    font-family: 'Quick-sand', sans-serif;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: black;
}
::-webkit-scrollbar-thumb{background-color: #2bab0d;}
/*--------------------Banner---------------*/
#form
{
    width: 100%;
    height: 600px;
    border: 5px solid #2bab0d;
}
#banner
{
    width: 100%;
    height: 100%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
  }
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #2bab0d;
  color: #fff;
  text-decoration: none;
}

.wrapper
{
    float: left;
    width: 100%;
    height: 600px;
    background-image: url(images/Wrapper/wrapper.jpg);
    border-radius: 20px;
}
.title-wrapper h1
{
    position: absolute;
    text-align: center;
    color: #2bab0d;
    margin-top: 100px;
    font: 800 40px 'Quick-sand', sans-serif;
}


/*--------------------Menu---------------*/
.menu-bar #logo
{
    margin-left: 140px;
    width: 125px;
    height: 60px;
}
.menu-bar
{
    background: rgb(0, 0, 0);
    text-align: center;
}
.menu-bar .arrow {
    font-size:11px;
    line-height:0%;
} 
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
	width: 100px;
    margin: 10px 0px;
    padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Quick-sand', sans-serif;
}
.active, .menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menu-bar ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 4px;
}

.sub-menu-1
{
    display: none;
	z-index: 10;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 180px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #2bab0d;
    text-align: center;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #b2ff00;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover
{
    background: #2bab0d;
}

.scrollTop
{
    position: fixed;
    right: 20px;
    padding-top: 8px;
    text-align: center;
    width: 40px;
    height: 40px;
    bottom: 5%;
    border-radius: 50%;
    background-color: #2bab0d;
    color: #fff;
    cursor: pointer;
    z-index: 999;
}

.new-game
{
    float: left;
    margin: 40px 0px 40px 0px;
    width: 100%;
}
.new-game h3, .new-movies h3
{
    color: #2bab0d;
    margin-left: 80px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.new-game i, .new-movies i { margin-right: 8px;}

#content
{
    width: 360px;
    height: 340px;
    margin-bottom: 40px;
    float: left;
    line-height: 0px;
}
#content img{width: 360px; height: 225px;}
#box
{
    width: 360px;
    height: 115px;
    background-color: #fff;
    padding: 24px 32px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.new-movies
{
    float: left; 
    margin: 40px 0px;
    width: 100%;
}
#content-movies
{
    width: 224px;
    height: 400px;
    margin-bottom: 40px;
    float: left;
    line-height: 0px;
}
#content-movies img{width: 224px; height: 300px;}
#box-movies
{
    width: 224px;
    height: 100px;
    background-color: #fff;
    padding: 20px 16px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer
{
    width: 100%;
    float: left;
    background-color: #141A1F;
    padding: 0px 50px 50px 50px;
}
.footer h1{color: #fff;}
.info-footer
{
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}
.info-text
{
    color: #555;
    font-family: 'Quicksand', sans-serif;
}
.info-contact
{
    color: #ababab;
    font-family: 'Quicksand', sans-serif;
}
.contact-address .fas, .fab {margin-right: 8px;}

.fanpage
{
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}

.social-network
{
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
}
.social-network h4 { color: #fff;}
.SCIcon ul
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.SCIcon li{
    list-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SCIcon li:nth-child(1){
    color: #3b5999;
}
.SCIcon li:nth-child(2){
    color: #dd4b39;
}
.SCIcon li:nth-child(3){
    color: #55acee;
}
.SCIcon li i{
    font-size: 40px;
}

.mini-footer
{
    width: 100%;
    float: left;
    background-color: #262b30;
    text-align: center;
}
.copyright p
{
    font: 800 15px 'Quicksand', sans-serif;
    color: #999;
    margin: 0;
    padding: 32px 0px;
}
.copyright a
{
    text-decoration: none;
    color: #2bab0d;
}
.copyright a:hover
{
    text-decoration: none;
    color: #b2ff00;
}
